bibkey;entrytype;genericentrytype;author;title;journal;year;volume;number;pages;month;part;doi;pmid;url;pdf;abstract;comment;owner;school;timestamp;optnote{% for bibkey, entry in entries.items() %}
'{{ bibkey }}';'{{ entry.type }}';'{{ entry.genericentrytype }}';'{{ entry.authors }}';'{{ entry.title }}';'{{ entry.journal }}';'{{ entry.year }}';'{{ entry.volume }}';'{{ entry.number }}';'{{ entry.pages }}';'{{ entry.optmonth }}';'{{ entry.number }}';'{{ entry.doi }}';'{{ entry.pmid }}';'{{ entry.url }}';'{{ entry.file }}';'{{ entry.abstract | safe }}';'{{ entry.comment }}';'{{ entry.owner }}';'{{ entry.optinstitution }}';'{{ entry.timestamp }}';'{{ entry.optnote }}'{% endfor %}